.wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    border-radius: 10px;
    background-color: var(--ui-shade-3);

    overflow-x: hidden;
}

.components {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    overflow-y: auto;
    overscroll-behavior: contain;
}

.title {
    text-align: center;
    padding: 5px 10px;

    border-radius: 10px;
    background-color: var(--ui-blue);
    color: white;
    font-family: "Nunito";
    font-weight: 600;
    font-size: 2.5rem;

    overflow-wrap: break-word;
}

@media (max-width: 900px) {
    .title {
        display: none;
    }
}

.traverserContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 900px) {
    .traverserContainer {
        box-sizing: border-box;
        padding: 0 10px;
        position: fixed;
        bottom: 10px;
        left: 0;
    }
}

.traverser {
    width: min(100%, 420px);
    background-color: #1b1c1e;
}

@media (max-width: 900px) {
    .traverser {
        border-radius: 10px;
        background-color: #27292f;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}