@keyframes pulse {
    0% {
        background-color: rgba(0, 0, 0, 0.15);
    }

    50% {
        background-color: rgba(26, 26, 26, 0.15);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.15);
    }
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    box-sizing: border-box;
    padding: 15px;
    width: min(700px, 100%);

    border-radius: 10px;
    background-color: var(--ui-shade-3);
    color: white;
}

@media (max-width: 650px) {
    .wrapper {
        flex-direction: column;
    }
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;

    border-radius: 10px;
    background-color: aquamarine;
    font-family: "Nunito";
}

@media (max-width: 650px) {
    .avatar {
        width: 100%;
    }
}

.details {
    display: flex;
    flex-direction: column;
}

.displayName {
    font-size: 1.3rem;
}

.username {
    margin-bottom: 5px;

    color: rgba(255, 255, 255, 0.5);
}