.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 50px;
    box-sizing: border-box;

    width: 100%;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

@media (max-width: 800px) {
    .articles {
        width: 100%;
    }

    .wrapper {
        padding: 20px;
    }
}

.pageButtons {
    display: flex;
    align-items: center;
    gap: 15px;
}