.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 50px;

    color: white;
}

@media (max-width: 600px) {
    .wrapper {
        padding: 20px;
    }
}

.titleSection {
    display: flex;
    flex-direction: column;
    width: min(100%, 420px);

    border: 1px solid var(--ui-shade-4);
    border-radius: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;

    border-radius: 10px 10px 0 0;
    background-color: var(--ui-shade-2);

    overflow: hidden;
}

.titleDescription {
    padding: 5px;
    box-sizing: border-box;
    width: 100%;

    border-top: 1px solid var(--ui-shade-4);
    border-radius: 0 0 10px 10px;
    background-color: var(--ui-shade-3);
}

.socialsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.socialsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.separator {
    width: 100%;

    border: none;
    border-bottom: 1px solid #2f2f2f;
}

.articles {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.pageButtons {
    display: flex;
    align-items: center;
    gap: 15px;
}